@namespace Outputs.Documents.Templates.FSCD
@using Outputs.Documents.Abstractions
@attribute [DocumentTemplate(isDefault: true, Key = "fscd-courtesy-letter", Name = "Courtesy Letter", Group = "FSCD")]
@attribute [DocumentLayout(
    headerTemplate: typeof(CourtesyLetterHeaderComponent),
    footerTemplate: typeof(CourtesyLetterFooterComponent),
    headerPropertyName: nameof(CourtesyLetter.Header),
    footerPropertyName: nameof(CourtesyLetter.Footer))]

<article>
    <h1>@Model.Title</h1>
    <p>@Model.Body</p>
</article>

@code {
    [Parameter]
    public CourtesyLetter Model { get; set; } = default!;
}
