@namespace Outputs.Documents.Templates.Doce.Components
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Components

@inject IOptions<StaticFilePaths>  StaticFiles

<div class="address-container">
    <div class="address-block">
        @foreach (var line in Address?.GetLines() ?? Enumerable.Empty<string>())
        {
            <div>@line</div>
        }
    </div>
</div>

<style>
    @@font-face {
        font-family: 'LucidaConsole';
        src: url('data:font/ttf;base64,@Base64Font') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    .address-container {
        position: relative;
        width: 10cm;
        margin: 2cm 0cm 0cm 7cm;
        height: 4.5cm;
/*         background-color: #fce5cd;
        border: 1px dashed #999; */
    }

    .address-block {
        margin: 1.2cm 1cm 1cm 1.4cm;
        width: 8cm;
        line-height: 1.4;
        font-family: 'LucidaConsole', monospace;
        font-size: 10pt;
        /* border: 1px dashed #999; */
    }
</style>

@code {
    [Parameter] public Address? Address { get; set; }

    public string? Base64Font { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        var wwwrootPath = StaticFiles.Value.Fonts;
        var fullPath = Path.Combine(wwwrootPath, "lucon.ttf");

        if (File.Exists(fullPath))
        {
            var bytes = File.ReadAllBytes(fullPath);
            Base64Font = Convert.ToBase64String(bytes);
        }
    }
}