@namespace Outputs.Documents.Templates.Doce
@attribute [DocumentTemplate(isDefault: true, Key = "doce-registered-ticket-page", Name = "Registered Ticket Page", Group = "DOCE")]
@attribute [DocumentLayout(widthCm: 23, heightCm: 43)]
@using Outputs.Documents.Templates.Doce.Components

<div class="page-wrapper">
    @if (Model?.Ticket1 is not null)
    {
        <SingleRegisterTicketComponent Data="Model.Ticket1" />
    }

    @if (Model?.Ticket2 is not null)
    {
        <SingleRegisterTicketComponent Data="Model.Ticket2" />
    }

    @if (Model?.Ticket3 is not null)
    {
        <SingleRegisterTicketComponent Data="Model.Ticket3" />
    }

    @if (Model?.Ticket4 is not null)
    {
        <SingleRegisterTicketComponent Data="Model.Ticket4" />
    }
</div>

@code {
    [Parameter]
    public RegTicketPage? Model { get; set; }
}

<style>
    .page-wrapper {
        width: 100%;
        margin: 0;
        padding:0;
    }

    .slot-1 { top: 0; left: 0; }
    .slot-2 { top: 0; right: 0; }
    .slot-3 { bottom: 0; left: 0; }
    .slot-4 { bottom: 0; right: 0; }
</style>
