@namespace Outputs.Documents.Components.Expedition
@using System.IO

<div class="ticket">

    <!-- Sender / recipient blocks -->
    <div class="addr-block top-left">
        <div>@Data?.ClientName</div>
        <div>@Data?.ClientAddr1</div>
        <div>@Data?.ClientAddr2</div>
        <div>@Data?.ClientAddr3</div>
        <div>@Data?.ClientAddr4</div>
    </div>

    <div class="addr-block bottom-right">
        <div>@Data?.Name</div>
        <div>@Data?.Addr1</div>
        <div>@Data?.Addr2</div>
    </div>

    <div class="x-label">X</div>

    <!-- Barcode / registo area -->
    <div class="barcode-area">
        <div class="reg-label">CLIENTE CTT X</div>
        <img class="barcode-img"
                src="data:image/png;base64,@Data?.BarcodeBase64" />

        <div class="barcode-code">
            @string.Join("", Data?.HorizontalRegCode?.ToUpper().ToCharArray() ?? [' '])
        </div>     
    </div>

</div>

<style>
    .ticket {
        position: relative;
        width: 100%;
        height: 144mm;
        font-family: Arial, sans-serif;
        font-size: 11pt;
        border: 3px dashed red;
    }

    .addr-block {
        position: absolute;
        width: 110mm;
        line-height: 1.22;
        border: 3px dashed green;
    }

    .addr-block.top-left {
        top: 21mm;
        left: 35mm;
    }

    .addr-block.bottom-right {
        left: 200mm;
        top: 80mm;
    }

    .x-label {
        position: absolute;
        top: 52mm;
        left: 45mm;
    }

    .reg-label {
       padding-left:50mm;

        font-size: 11pt;
    }

    .barcode-area {
        position: absolute;
        top: 50mm;
        left: 200mm;
        width: 110mm;
    }

    .barcode-img {
        width: 75mm;
        height : 10mm;
    }

    .barcode-code {
        padding-left: 15mm;
        font-size: 8pt;
        letter-spacing: 1.5mm;
        margin-bottom: 3mm;
    }
</style>

@code {
    [Parameter] public SingleRegisterTicket? Data { get; set; }

    public string? RegistadoIconBase64 { get; set; }

    protected override void OnInitialized()
    {
        var path = Path.Combine(Directory.GetCurrentDirectory(), "wwwroot/logos/Registado_CMYK.png");

        if (System.IO.File.Exists(path))
        {
            var bytes = File.ReadAllBytes(path);
            RegistadoIconBase64 = Convert.ToBase64String(bytes);
        }
    }
}